/*stylesheet per la calendar-view*/


/* BorderPane */
.border-pane {
    -fx-background-color: #24293E;
    -fx-border-color: #8EBBFF;
    -fx-border-width: 2;
}

/* Button */
.button {
    -fx-background-color: #8EBBFF;
    -fx-border-color: #8EBBFF;
    -fx-border-radius: 5;
    -fx-border-width: 0;
}

/* Text */
.text {
    -fx-fill: #f4f5fc;
}

/* Label */
.label {
    -fx-text-fill: #f4f5fc;
}

/* GridPane */
.grid-pane {
    -fx-border-color: #8EBBFF;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

/* VBox */
.vbox {
    -fx-background-color: transparent;
}

/* Insets */
.insets {
    -fx-top: 10;
    -fx-right: 10;
    -fx-bottom: 5;
    -fx-left: 10;
}

/* Margins */
.margins {
    -fx-top: 20;
    -fx-bottom: 5;
    -fx-left: 10;
    -fx-right: 10;
}

/* Padding */
.padding {
    -fx-padding: 20 5;
}
